.main-bg-event {
    background-color: #000000;
    min-height: 100vh;
}

.pading-0 {
    padding: 0;
}

.seccion-proximo-event {
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* card-1 */
.card-1 {
    color: #1b1b1b;
    width: 390px;
    height: 554px;
    position: relative;
    outline: 6px solid #f5f5f5;
    border-radius: 8px;
    line-height: 150%;
    padding: 16px;
    background: #ff930f;
    background-blend-mode: multiply;
    background: linear-gradient(to top, #ff930f, #ffcc33);
    transition: background-color 1s ease-in-out;
    overflow: hidden;
}

.card-front {
    /* bottom: 0px; */
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.card-back {
    transform: translateX(120%);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}


/*Text*/
.title {
    font-size: 1.3rem;
    font-weight: bold;
}

/*Text divider*/
.title::after {
    content: "";
    display: block;
    width: 50%;
    border-radius: 50%;
    height: 2px;
    margin: 2px auto;
    background-color: #1b1b1b;
}


/*Hover*/
.card-1:hover {
    background-color: #1b1b1b25;
}

.card-1:hover .card-front {
    transform: translateX(-100%);
}

.card-1:hover .card-back {
    transform: translateX(0);
}


/*  */

.div-eventos {
    height: 120vh;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-image: url(https://blog.tamaritmotorcycles.com/hubfs/caferacer-rockers_0003_Capa%201-min.jpg);
    background-size: cover;
    width: 100%;
}

.bg-trans {
    background: linear-gradient(to top, #ffffff, #dad9d996, #00000000);
    border-radius: 1rem;
}

.card-img-event {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.conten-pre-evento {
    height: 100vh;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.514)), url(../assets/img/ws_Mountains_Trees_&_Hilly_Road_2560x1600.jpg);
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    padding: 0;
}

.card-eventos {
    height: 25rem;
    padding: 0;
    border: none;
    border-radius: 1rem;
    background-color: #000000;
}

.img-pre-eventos {
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    opacity: .8;
    transition: .5s;

    &:hover {
        opacity: .4;
    }
}