.conten-section-modelos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 100vh);
    overflow: hidden;
}


.flex-modelos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/* 1 */

.gradient-1 {
    position: relative;
    min-height: 200px;
    background-image: linear-gradient(to bottom, #000000, #00000054, #000000), url(../assets/img/bike-diavel-1260.png), url(../assets/img/fondo-2moto-2.png);
    background-size: cover;
    background-position: center;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, #00000095, #00000054, #0000007c), url(../assets/img/bike-diavel-1260.png), linear-gradient(to top, hsl(0, 0%, 0%), hsla(0, 0%, 0%, 0)), url(../assets/img/fondo-2moto-2.png);
        background-size: cover;
        background-position: center;
        z-index: -1;
        transition: opacity 1s linear;
        opacity: 0;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }
}

/* 2 */

.gradient-2 {
    position: relative;
    min-height: 200px;
    background-image: linear-gradient(to bottom, #000000, #00000054, #000000), url(../assets/img/bike-design-04.png), url(../assets/img/fondo-2moto-2.png);
    background-size: cover;
    background-position: center;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, #00000095, #00000054, #0000007c), url(../assets/img/bike-design-04.png), linear-gradient(to top, hsl(0, 0%, 0%), hsla(0, 0%, 0%, 0)), url(../assets/img/fondo-2moto-2.png);
        background-size: cover;
        background-position: center;
        z-index: -1;
        transition: opacity 1s linear;
        opacity: 0;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }
}

/* 3 */

.gradient-3 {
    position: relative;
    min-height: 200px;
    background-image: linear-gradient(to bottom, #000000, #00000054, #000000), url(../assets/img/bike-hyper-950sp.png), url(../assets/img/fondo-2moto-2.png);
    background-size: cover;
    background-position: center;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, #00000095, #00000054, #0000007c), url(../assets/img/bike-hyper-950sp.png), linear-gradient(to top, hsl(0, 0%, 0%), hsla(0, 0%, 0%, 0)), url(../assets/img/fondo-2moto-2.png);
        background-size: cover;
        background-position: center;
        z-index: -1;
        transition: opacity 1s linear;
        opacity: 0;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }
}

/* 4 */

.gradient-4 {
    position: relative;
    min-height: 200px;
    background-image: linear-gradient(to bottom, #000000, #00000054, #000000), url(../assets/img/bike-monster-sp.png), url(../assets/img/fondo-2moto-2.png);
    background-size: cover;
    background-position: center;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, #00000095, #00000054, #0000007c), url(../assets/img/bike-monster-sp.png), linear-gradient(to top, hsl(0, 0%, 0%), hsla(0, 0%, 0%, 0)), url(../assets/img/fondo-2moto-2.png);
        background-size: cover;
        background-position: center;
        z-index: -1;
        transition: opacity 1s linear;
        opacity: 0;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }
}

/* 5 */

.gradient-5 {
    position: relative;
    min-height: 200px;
    background-image: linear-gradient(to bottom, #000000, #00000054, #000000), url(../assets/img/bike-streetfigter-v2.png), url(../assets/img/fondo-2moto-2.png);
    background-size: cover;
    background-position: center;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, #00000095, #00000054, #0000007c), url(../assets/img/bike-streetfigter-v2.png), linear-gradient(to top, hsl(0, 0%, 0%), hsla(0, 0%, 0%, 0)), url(../assets/img/fondo-2moto-2.png);
        background-size: cover;
        background-position: center;
        z-index: -1;
        transition: opacity 1s linear;
        opacity: 0;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }
}

/* 6 */

.gradient-6 {
    position: relative;
    min-height: 200px;
    background-image: linear-gradient(to bottom, #000000, #00000054, #000000), url(../assets/img/bike-xdiavel.png), url(../assets/img/fondo-2moto-2.png);
    background-size: cover;
    background-position: center;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, #00000095, #00000054, #0000007c), url(../assets/img/bike-xdiavel.png), linear-gradient(to top, hsl(0, 0%, 0%), hsla(0, 0%, 0%, 0)), url(../assets/img/fondo-2moto-2.png);
        background-size: cover;
        background-position: center;
        z-index: -1;
        transition: opacity 1s linear;
        opacity: 0;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }
}

/* btn */

.btn-modelos {
    text-decoration: none;
    height: 20%;
    width: 36%;
    padding: 0.8em 1.8em;
    border: 1px solid rgba(255, 0, 0, 0.194);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #f5f1f1af;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    border-radius: .5rem;

    &::before {
        content: '';
        width: 0;
        height: 300%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: #c31717a4;
        transition: .6s ease;
        display: block;
        z-index: -1;
        border: 0px;
    }

    &:hover {
        color: #ffffff;

        &::before {
            width: 105%;
        }
    }
}