@use "variables" as*;
@use "mediaqueries" as*;

.grid-modelos {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* .main-modelos {

}
 */
.conten-section-modelos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 104vh);

}

.scroll-sniping {
    scroll-snap-align: center;
    scroll-behavior: smooth;
    overflow: hidden;
}

.flex-modelos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2rem;
    transition: 1s;

    @include mobil {
        justify-content: space-evenly;
        gap: 2rem;
    }
}

.img-modelos {
    height: 100%;
    width: auto;
}

.content-img-model {
    height: 28rem;

    @include table {
        height: 25rem;
    }

    @include mobil {
        height: 20rem;
    }
}

.titulo-modelos {
    color: #ffffff;
    font-size: 7rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: .8rem;

    @include notebook {
        font-size: 5rem;
    }

    @include table {
        letter-spacing: .3rem;
        text-align: center;
    }

    @include mobil {
        font-size: 3rem;
        letter-spacing: 0rem;
    }
}

.span-modelos {
    color: $mostaza;
}

.span-modelos--red {
    @extend .span-modelos;
    color: $rojo-lijero;
}

.span-modelos--green {
    @extend .span-modelos;
    color: $verde-gris;
}

.span-modelos--white {
    @extend .span-modelos;
    color: $gris;
}

/* 1 */

.gradient-1 {
    position: relative;
    min-height: 200px;
    background-image: radial-gradient(ellipse, #00000033, #00000016, #000000e6),
        url(https://wallpapers.com/images/hd/neat-underground-garage-parking-lot-m32aj9tvh7hharro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 1;
}

/* btn */

.btn-modelos {
    text-decoration: none;
    height: 2.5rem;
    width: 10rem;
    padding: 0.3em 1.8em;
    border: 1px solid transparent;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #f5f1f1af;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    border-radius: .5rem;
    font-family: "Barlow Condensed", sans-serif;

    &::before {
        content: '';
        width: 0;
        height: 260%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: #c31717a4;
        transition: .6s ease;
        display: block;
        z-index: -1;
        border: 0px;

        @include table {
            width: 105%;
        }
    }

    &:hover {
        color: #ffffff;

        &::before {
            width: 105%;
        }
    }
}