@use "mediaqueries" as*;

.h2-sub-modelos {
    font-size: 5rem;
    font-family: "Bebas Neue", sans-serif;
    color: aliceblue;
    width: 100%;
    letter-spacing: 0.4rem;
    z-index: 2;
    text-align: center;
    background: rgba(0, 0, 0, 0.747);
    margin-bottom: 0;

    @include mobil {
        font-size: 2.3rem;
    }
}

.conten-section-sub-m {
    position: relative;
    overflow: hidden;
}

.div-h2-sub-m {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;

    @include table {
        width: 100%;
        justify-content: flex-end;
    }
}

.img-sub-m {
    height: 18rem;

    @include notebook {
        height: 13rem;
    }

    @include mobil {
        height: 10rem;
    }
}

.card-title-sub-m {
    border-bottom: 0.1rem solid #ffffff;
    width: 15rem;
    font-family: "Barlow Condensed", sans-serif;
    padding: 1rem 1rem;
}