$rojo: #f02;
$rojo-oscuro: #aa1002;

$negro: #000000;

$blanco: #ffffff;

$blanco-lijero: #e3d6d6;

$texto-blanco: aliceblue;
/* modelos */
$mostaza: #d9af41;

$rojo-lijero: #c12a2f;

$verde-gris: #5b5d52;

$gris: #aeb2b3;

/* eventos fondo */
$negro-lijero: #1e1e1e;