footer {
    grid-area: footer;
    background: url(../assets/img/img-noise-1080x500.png);
    background-color: #000000;
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-rows: 5fr 0.5fr;
    justify-content: center;
    height: 60vh;
}

.conten-nav-name {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
}

.conten-li {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

    li {
        list-style: none;

        a {
            text-decoration: none;
            color: white;
            font-family: "Barlow Condensed", sans-serif;
            font-size: 1.2rem;
            font-weight: bold;

            &:hover {
                color: rgba(255, 255, 255, 0.573);
                -webkit-text-stroke: 0.05px rgba(255, 255, 255, 0.817);
            }
        }
    }
}

.conten-footer-img {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 2rem 0rem 0rem;
    font-size: 1.4rem;
    letter-spacing: 0.8rem;
    color: rgba(255, 0, 0, 0.792);
    z-index: 1;
    align-items: center;
}

.h3-foo {
    font-family: "Bebas Neue", sans-serif;
}

.conten-p-footer {
    grid-column: 1/2;
    grid-row: 2/3;
    border-top: #fff solid 1px;
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.conten-redes-footer {
    grid-column: 2/3;
    grid-row: 2/3;
    border-top: #fff solid 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.2rem;

    a {
        img {
            height: 1.1rem;
        }
    }
}

@media only screen and (max-width: 992px) {
    /* footer */

    .conten-redes-footer {
        gap: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-end;
        padding-bottom: 1rem;
    }

    .conten-li {
        justify-content: space-evenly;
        flex-direction: column;
        gap: 0rem;
        align-items: center;
        padding: 1rem;
        margin-top: 0rem;
        height: 100%;
    }

    .conten-redes-footer {
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        border-top: none;

        &>a {
            &>img {
                height: 2.1rem;
            }
        }
    }

    .conten-p-footer {
        flex-direction: column;
    }

    .conten-nav-name {
        height: 100%;

        nav {
            height: 100%;
        }
    }



    .div-partes-index {
        div {
            &:nth-child(3) {
                img {
                    object-fit: cover;
                }
            }
        }
    }

}

@media only screen and (max-width: 380px) {

    /* footer */
    .conten-p-footer {
        gap: 0rem;
    }

}