* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   background-color: rgb(35, 35, 121);
}

header {
   display: flex;
   position: fixed;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.438);
   width: 100%;
   z-index: 999;
   height: 10vh;
   /*     height: 10vh;
    width: 100%;
    background-color: rgba(129, 250, 250, 0.192);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0rem; */
}

main {
   min-height: 70vh;
}

footer {
   height: 20vh;
}

.contenedor-logo-titulo {
   display: flex;
   align-items: center;
   gap: 1rem;
   height: 100%;
   width: 30%;
   margin: 1rem;
}

.logo-header {
   height: 100%;
}

.h1 {
   letter-spacing: .5rem;
   text-decoration: none;
}

.nav-header>ul {
   display: flex;
   justify-content: center;
   gap: 6rem;
   margin: 1rem;
   flex-grow: 1;
}

.li-enlaces-nav {
   list-style: none;
}

.li-enlaces-nav>a {
   text-decoration: none;
}

.video_background {
   max-width: 100%;
   min-height: 100%;
}

.article-index {
   display: flex;
   flex-direction: column;
}

.conten-producto-index {
   background-image: url(../img/ducati-streetfighter-v2.jpg);
   background-size: cover;
   background-position: 70%;
   height: 100vh;
   display: flex;
   gap: .5rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.conten-p-producto-index{
   width: 40%;
   color: #fff;
   text-align: center;
   margin: 1rem;
}

.h3-producto{
   color: red;
   font-size: 2.3rem;
}

.bt-producto{
   text-decoration: none;
   border: 0;
   background-color: red;
   color: #fff;
   padding: 1rem;
   margin: .5rem;
}

/* --------------carrusel--------------------- */

#slider {
   margin: 0 auto;
   width: 50%;
   max-width: 100%;
   text-align: center;
}

#slider input[type=radio] {
   display: none;
}

#slider label {
   cursor: pointer;
   text-decoration: none;
}

#slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   position: relative;
   z-index: 1;
}

#overflow {
   width: 100%;
   overflow: hidden;
}

#slide1:checked~#slides .inner {
   margin-left: 0;
}

#slide2:checked~#slides .inner {
   margin-left: -100%;
}

#slide3:checked~#slides .inner {
   margin-left: -200%;
}

#slide4:checked~#slides .inner {
   margin-left: -300%;
}

#slide5:checked~#slides .inner {
   margin-left: -400%;
}

#slides .inner {
   transition: margin-left 3s cubic-bezier(0.700, 0.700, 0.200, 0.700);
   width: 500%;
   height: 300px;
}

#slides .slide {
   width: 20%;
   float: left;
   display: flex;
   color: #fff;
   height: 100vh;
}

#slides .slide_1 {
   background: #00171F;
   height: 100vh;
}

#slides .slide_2 {
   background: #003459;
}

#slides .slide_3 {
   background: #007EA7;
}

#slides .slide_4 {
   background: #00A8E8;
}

#slides .slide_5 {
   background: #325461;
}

#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}

#controls label {
   transition: opacity 0.8s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}

#controls label:hover {
   opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(5),
#slide5:checked~#controls label:nth-child(1) {
   position: absolute;
   z-index: 2;
   top: -12rem;
   right: -15rem;
   display: block;
}

#slide1:checked~#controls label:nth-last-child(1),
#slide2:checked~#controls label:nth-last-child(5),
#slide3:checked~#controls label:nth-last-child(4),
#slide4:checked~#controls label:nth-last-child(3),
#slide5:checked~#controls label:nth-last-child(2) {
   transform: scaleX(-1);
   position: absolute;
   z-index: 99;
   top:-12rem;
   left: -15rem;
   display: block;
}

.flecha-carrusel{
   width: 2rem;
}

/* .slide-content{
   display: flex;
   flex-direction: column;
   height: 100%;
} */

.p-1-carusel{
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.conten-titul-carrusel{
   width: 100%;
   background-image: url(../img/xd-iavel-s-my18.png);
   background-size: cover;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.n-sition-sitio{
   color: red;
}

.conten-p-carrusel{
   height: 50%;
   width: 70%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}
/* .p-carusel{

} */

#bullets {
   margin: 150px 0 0;
   text-align: center;
}

#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius: 100%;
   background: #ccc;
   margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4),
#slide5:checked~#bullets label:nth-child(5) {
   background: #444;
}

@media screen and (max-width: 900px) {

   #slide1:checked~#controls label:nth-child(2),
   #slide2:checked~#controls label:nth-child(3),
   #slide4:checked~#controls label:nth-child(1),
   #slide1:checked~#controls label:nth-last-child(2),
   #slide2:checked~#controls label:nth-last-child(3),
   #slide3:checked~#controls label:nth-last-child(4),
   #slide4:checked~#controls label:nth-last-child(1) {
      margin: 0;
   }

   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}