* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   background-color: rgb(0, 0, 0);
}

header {
   display: flex;
   position: fixed;
   align-items: center;
   background: #000000; 
   background: -webkit-linear-gradient(to top, #000000, #000000);  
   background: linear-gradient(to top, #00000000, #000000); 
   width: 100%;
   z-index: 999;
   height: 10vh;
}

main {
   min-height: 70vh;
}

footer {
   height: 30vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: #bebebe23;
   align-items: center;
}

.contenedor-logo-titulo {
   display: flex;
   align-items: center;
   gap: 1rem;
   height: 100%;
   width: 30%;
   margin: 1rem;
}

.logo-header {
   height: 100%;
}

.h1 {
   letter-spacing: .5rem;
   text-decoration: none;
   color: rgb(155, 2, 2);
   text-shadow: -.1px 0 rgba(121, 120, 120, 0.591), 0 .1px rgba(115, 114, 114, 0.463), .1px 0 rgba(109, 109, 109, 0.4), 0 -.1px rgba(94, 94, 94, 0.511);
}

.nav-header>ul {
   display: flex;
   justify-content: center;
   gap: 6rem;
   margin: 1rem;
   flex-grow: 1;
}

.li-enlaces-nav {
   list-style: none;
}

.li-enlaces-nav>a {
   text-decoration: none;
   color: white;
}

.video_background {
   max-width: 100%;
   min-height: 100%;
}

.article-index {
   display: flex;
   flex-direction: column;
}

.conten-producto-index {
   background: -webkit-linear-gradient(rgba(0, 0, 0, 0.58),rgba(0, 0, 0, 0.498)),url(../img/ducati-streetfighter-v2.jpg);
   background-size: cover;
   background-position: 70%;
   height: 100vh;
   display: flex;
   gap: .5rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.conten-p-producto-index{
   width: 40%;
   color: #fff;
   text-align: center;
   margin: 1rem;
}

.h3-producto{
   color: red;
   font-size: 2.3rem;
}

.bt-producto{
   text-decoration: none;
   border: 0;
   background-color: red;
   color: #fff;
   padding: 1rem;
   margin: .5rem;
}

/* --------------carrusel--------------------- */

#slider {
   margin: 0 auto;
   width: 50%;
   max-width: 100%;
   text-align: center;
}

#slider input[type=radio] {
   display: none;
}

#slider label {
   cursor: pointer;
   text-decoration: none;
}

#slides {
   padding: 10px;
   position: relative;
   z-index: 1;
}

#overflow {
   width: 100%;
   overflow: hidden;
}

#slide1:checked~#slides .inner {
   margin-left: 0;
}

#slide2:checked~#slides .inner {
   margin-left: -100%;
}

#slide3:checked~#slides .inner {
   margin-left: -200%;
}

#slide4:checked~#slides .inner {
   margin-left: -300%;
}

#slide5:checked~#slides .inner {
   margin-left: -400%;
}

#slides .inner {
   transition: margin-left 3s cubic-bezier(0.700, 0.700, 0.200, 0.700);
   width: 500%;
   height: 300px;
}

#slides .slide {
   width: 20%;
   float: left;
   display: flex;
   color: #fff;
   height: 100vh;
}

#slides .slide_1 {
   background: #2312d90b;
}

#slides .slide_2 {
   background: #00345900;
}

#slides .slide_3 {
   background: #007da700;
}

#slides .slide_4 {
   background: #00a6e800;
}

#slides .slide_5 {
   background: #32546100;
}

#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}

#controls label {
   transition: opacity 0.8s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}

#controls label:hover {
   opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(5),
#slide5:checked~#controls label:nth-child(1) {
   position: absolute;
   z-index: 2;
   top: -12rem;
   right: -15rem;
   display: block;
}

#slide1:checked~#controls label:nth-last-child(1),
#slide2:checked~#controls label:nth-last-child(5),
#slide3:checked~#controls label:nth-last-child(4),
#slide4:checked~#controls label:nth-last-child(3),
#slide5:checked~#controls label:nth-last-child(2) {
   transform: scaleX(-1);
   position: absolute;
   z-index: 99;
   top:-12rem;
   left: -15rem;
   display: block;
}

.flecha-carrusel{
   width: 2rem;
}

.p-1-carusel{
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.conten-titul-carrusel{
   width: 100%;
   background-size: cover;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.img-carr-1{
   background-image: url(../img/xd-iavel-s-my18.png);
   background-size: cover;
}

.img-carr-2{
   background-image: url(../img/diavel-1260.png);
   background-size: cover;
}

.img-carr-3{
   background-image: url(../img/hypermotard-950.png);
   background-size: cover;
}

.img-carr-4{
   background-image: url(../img/monster-1200.png);
   background-size: cover;
}

.img-carr-5{
   background-image: url(../img/superleggera-v4.png);
   background-size: cover;
}

.n-sition-sitio{
   color: red;
}

.conten-p-carrusel{
   height: 50%;
   width: 70%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}

#bullets {
   margin: 150px 0 0;
   text-align: center;
}

#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius: 100%;
   background: #ccc;
   margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4),
#slide5:checked~#bullets label:nth-child(5) {
   background: #444;
}

@media screen and (max-width: 900px) {

   #slide1:checked~#controls label:nth-child(2),
   #slide2:checked~#controls label:nth-child(3),
   #slide4:checked~#controls label:nth-child(1),
   #slide1:checked~#controls label:nth-last-child(2),
   #slide2:checked~#controls label:nth-last-child(3),
   #slide3:checked~#controls label:nth-last-child(4),
   #slide4:checked~#controls label:nth-last-child(1) {
      margin: 0;
   }

   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}

.conten-partes-index{
   height: 100vh;
   margin-top: 3rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: white;
}

.conten-freno{
   display: flex;
   width: 40%;
   background-image: url(../img/freno-de-moto.jpg);
   background-size: cover;
   border: solid rgba(255, 255, 255, 0.468) 1px;
   margin: 1rem;
   align-items: flex-end;
   justify-content: center;
   border-radius: 1rem;
   height: 70%;
}

.t-freno{
   color: #fff;
   margin: 2rem;
   font-size: 2rem;
   background-color: rgba(0, 0, 0, 0.493);
   padding: 1rem;
   border-radius: 1rem;
}

.conten-susp-motor{
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: center;
   gap: 2rem;
   width: 40%;
   margin: 1rem;
}

.partes{
   display: flex;
   align-items: flex-end;
   justify-content: center;
   border: solid rgba(255, 255, 255, 0.484) 1px;
   height: 50%;
   width: 100%;
}

.motor{
   background-image: url(../img/motor-de-moto.jpg);
   background-size: cover;
   border-radius: 1rem;
   height: 32%;
}

.suspencion{
   background-image: url(../img/moto-suspensiones.jpg);
   background-size: cover;
   border-radius: 1rem;
   height: 32%;
}

.content-marcas{
   display: flex;
   background-color: black;
   height: 55vh;
   align-items: center;
}

.conten-logos{
   height: 20vh;
   width: 100%;
   background-color: #e1e1e1;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10rem;
}

.img-logos{
   height: 5rem;
}

.conten-nav-name{
   display: flex;
   height: 10vh;
   width: 90%;
   justify-content: space-between;
   align-items: center;
}


.conten-ul>ul{
   display: flex;
   gap: 4rem;
}

.conten-ul>ul>li{
   list-style: none;
}

.conten-ul>ul>li>a{
   text-decoration: none;
   color: #fff;
   font-size: 1.1rem;
}

.conten-ul>ul>li>a:hover{
   color: rgba(255, 255, 255, 0.573); 
   -webkit-text-stroke: .05px rgba(255, 255, 255, 0.817);
}

.h3-foo{
   margin-right: 1rem;
   letter-spacing: 1rem;
   color: red;
   font-size: 1.5rem;
}

.logo-foo{
   height: 8rem;
   position: absolute;
   margin-top: -1rem;
   margin-left: 1.7rem;
   z-index: -1;
}

.conten-icon-f{
   display: flex;
   width: 90%;
   justify-content: space-between;
   align-items: center;
   border-top: #f1f7f9 solid 1px;
   height: 5vh;
}

.text{
   color: #fff;
}

.icon-redes{
   height: 1rem;
}