* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------GRID--------------------- */

#grid{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 0vh 1fr 60vh;
    background-color: rgb(0, 0, 0);
}

/* --------------Header--------------------- */

header {
    grid-area: header;
    display: flex;
    position: fixed;
    align-items: center;
    background: #000000;
/*     background: -webkit-linear-gradient(to top, #000000, #000000); */
    background: linear-gradient(to top, #00000000, #000000);
    width: 100%;
    z-index: 999;
    height: 10vh;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: #212121ca;
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-rows: 5fr 1fr;
    justify-content: center;
}

.conten-nav-name{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
}

.conten-li{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.conten-li>li{
    list-style: none;
}

.conten-li>li>a{
    text-decoration: none;
    color: white;
}

.conten-li>li>a:hover{
    color: rgba(255, 255, 255, 0.573);
    -webkit-text-stroke: .05px rgba(255, 255, 255, 0.817);
}

.conten-footer-img{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 2rem 0rem 0rem;
    font-size: 1.4rem;
    letter-spacing: .8rem;
    color: rgba(255, 0, 0, 0.792);
    z-index: 1;
    align-items: center;
}

.logo-foo{
    height: 14rem;
    position: absolute;
    margin-top: .8rem;
    z-index: -1;
}

.conten-p-footer{
    grid-column: 1/2;
    grid-row: 2/3;
    border-top: #fff solid 1px;
    color: white;
    display: flex;
    align-items: center;
}

.conten-redes-footer{
    grid-column: 2/3;
    grid-row: 2/3;
    border-top: #fff solid 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .2rem;
}

.conten-redes-footer>a>img{
    height: 1.1rem;
}

/* --------------Main--------------------- */

.contenedor-logo-titulo {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 30%;
    margin: 1rem;
}

.logo-header {
    height: 100%;
}

.h1 {
    letter-spacing: .5rem;
    text-decoration: none;
    color: rgb(155, 2, 2);
    text-shadow: -.1px 0 rgba(121, 120, 120, 0.591), 0 .1px rgba(115, 114, 114, 0.463), .1px 0 rgba(109, 109, 109, 0.4), 0 -.1px rgba(94, 94, 94, 0.511);
}

.nav-header>ul {
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin: 1rem;
    flex-grow: 1;
}

.li-enlaces-nav {
    list-style: none;
}

.li-enlaces-nav>a {
    text-decoration: none;
    color: white;
}

/* --------------Main--------------------- */

.article-index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 130vh 120vh 1fr 50vh;
    flex-direction: column;
}

.video_background {
    max-width: 100%;
    min-height: 100vh;
}

.conten-producto-index {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.498)), url(../img/ducati-streetfighter-v2.jpg);
    background-size: cover;
    background-position: 70%;
    height: 120vh;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conten-p-producto-index {
    width: 40%;
    color: #fff;
    text-align: center;
    margin: 1rem;
}

.h3-producto {
    color: red;
    font-size: 2.3rem;
}

.bt-producto {
    text-decoration: none;
    border: 0;
    background-color: red;
    color: #fff;
    padding: 1rem;
    margin: .5rem;
}

/* --------------carrusel--------------------- */

#slider {
    margin: 0 auto;
    width: 50%;
    max-width: 100%;
    text-align: center;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    padding: 10px;
    position: relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

#slide5:checked~#slides .inner {
    margin-left: -400%;
}

#slides .inner {
    transition: margin-left 3s cubic-bezier(0.700, 0.700, 0.200, 0.700);
    width: 500%;
    height: 500px;
}

#slides .slide {
    width: 20%;
    float: left;
    display: flex;
    color: #fff;
    height: 100vh;
}

#slides .slide_1 {
    background: #2312d90b;
}

#slides .slide_2 {
    background: #00345900;
}

#slides .slide_3 {
    background: #007da700;
}

#slides .slide_4 {
    background: #00a6e800;
}

#slides .slide_5 {
    background: #32546100;
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.8s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(5),
#slide5:checked~#controls label:nth-child(1) {
    position: absolute;
    z-index: 2;
    top: -12rem;
    right: -15rem;
    display: block;
}

#slide1:checked~#controls label:nth-last-child(1),
#slide2:checked~#controls label:nth-last-child(5),
#slide3:checked~#controls label:nth-last-child(4),
#slide4:checked~#controls label:nth-last-child(3),
#slide5:checked~#controls label:nth-last-child(2) {
    transform: scaleX(-1);
    position: absolute;
    z-index: 99;
    top: -12rem;
    left: -15rem;
    display: block;
}

.flecha-carrusel {
    width: 2rem;
}

.p-1-carusel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.conten-titul-carrusel {
    width: 100%;
    background-size: cover;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.img-carr-1 {
    background-image: url(../img/xd-iavel-s-my18.png);
    background-size: cover;
}

.img-carr-2 {
    background-image: url(../img/diavel-1260.png);
    background-size: cover;
}

.img-carr-3 {
    background-image: url(../img/hypermotard-950.png);
    background-size: cover;
}

.img-carr-4 {
    background-image: url(../img/monster-1200.png);
    background-size: cover;
}

.img-carr-5 {
    background-image: url(../img/superleggera-v4.png);
    background-size: cover;
}

.n-sition-sitio {
    color: red;
}

.conten-p-carrusel {
    height: 50%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4),
#slide5:checked~#bullets label:nth-child(5) {
    background: #444;
}

@media screen and (max-width: 900px) {

    #slide1:checked~#controls label:nth-child(2),
    #slide2:checked~#controls label:nth-child(3),
    #slide4:checked~#controls label:nth-child(1),
    #slide1:checked~#controls label:nth-last-child(2),
    #slide2:checked~#controls label:nth-last-child(3),
    #slide3:checked~#controls label:nth-last-child(4),
    #slide4:checked~#controls label:nth-last-child(1) {
        margin: 0;
    }

    #slides {
        max-width: calc(100% - 140px);
        margin: 0 auto;
    }
}

.conten-partes-index {
    background-color: white;
}

.conten-freno{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(12, 1fr);
    overflow: hidden;
    height: 100%;
}

.diseño-img{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    width: 100%;
    height: 100%;
}

.diseño-img-2{
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    width: 100%;
    height: 100%;
}

.diseño-img-3{
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    width: 100%;
    height: 100%;
}

.diseño-img-4{
    clip-path: polygon(0% 0%, 75% 0, 100% 100%, 0% 100%);
    width: 100%;
    height: 100%;
}

.diseño-img-5{
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    height: 100%;
}

.diseño-img-6{
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 25% 100%);
    width: 100%;
    height: 100%;
}

.img-1{
    grid-column: 1/5;
    grid-row: 2/7;
}

.img-2{
    grid-column: 4/8;
    grid-row: 2/7;
}

.img-3{
    grid-column: 7/11;
    grid-row: 2/7;
}

.img-4{
    grid-column: 10/14;
    grid-row: 2/7;
}

.img-5{
    grid-column: 10/14;
    grid-row: 7/12;
}

.img-6{
    grid-column: 1/5;
    grid-row: 7/12;
}

.img-7{
    grid-column: 4/8;
    grid-row: 7/12;
}

.img-8{
    grid-column: 7/11;
    grid-row: 7/12;
}

.greyscale{
    filter: grayscale(.8);
    transform: scale(var(--escala, 1));
    transition: transform 0.8s;
    -o-transition: 1.5s ease;
}

.greyscale:hover{
    filter: grayscale(0);
    transform:scale(1.04);
    z-index: 3;
    --escala: 1.2;
    cursor:pointer;
    -o-transform : scale(2);
}

.greyscale-2{
    filter: grayscale(1);
}

.greyscale-2:hover{
    filter: grayscale(0);
}

/*  */
.content-marcas {
    display: flex;
    background: -webkit-linear-gradient( rgba(255, 0, 0, 0.384), rgba(255, 0, 0, 0.45)), url(https://4kwallpapers.com/images/wallpapers/ducati-panigale-v4-r-sports-bikes-5k-8k-2023-2880x1800-8866.jpg);
    background-attachment: fixed;
    background-position: 50% 83%;
    align-items: center;
}

.conten-logos {
    width: 100%;
    background-color: #fefefee2;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1, .1fr);
    align-items: center;
    justify-items: center;
    column-gap: 1rem;
    padding: .8rem;
}

.conten-logos img:nth-child(1){
    grid-column: 2/3;
    grid-row: 2/3;
}

.conten-logos img:nth-child(2){
    grid-column: 3/4;
    grid-row: 2/3;
    height: 3.3rem;
}

.conten-logos img:nth-child(3){
    grid-column: 4/5;
    grid-row: 2/3;
}

.conten-logos img:nth-child(4){
    grid-column: 5/6;
    grid-row: 2/3;
    height: 3.4rem;
}

.conten-logos img:nth-child(5){
    grid-column: 6/7;
    grid-row: 2/3;
}

.conten-logos img:nth-child(6){
    grid-column: 7/8;
    grid-row: 2/3;
}

.conten-logos img:nth-child(7){
    grid-column: 8/9;
    grid-row: 2/3;
}

.conten-logos img:nth-child(8){
    grid-column: 9/10;
    grid-row: 2/3;
    height: 2.7rem;
}

.conten-logos img:nth-child(9){
    grid-column: 10/11;
    grid-row: 2/3;
    height: 2.7rem;
}

.img-logos {
    height: 4.5rem;
}

.img-logos-dc {
    height: 4rem;
}

/* --------------footer--------------------- */

